{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block content %}
<div id="map" class="map" style="position:absolute; height:100%; width: 100%;">
    <div class="container-fluid top_layer" style="padding-right: 0px; padding-left: 0px;">
        <div class="col-md-3 top_layer_nav">
            <div class="input-group-lg top_layer_search">
                <input type="text" class="top_layer_keyword" onkeypress="if( event.keyCode==13 ){goSearch();}" placeholder="동이름을 입력하세요(ex.서초동)"/>
                <span class="btn btn-lg btn-default btn_search glyphicon glyphicon-search"></span>
            </div>
            <nav class="navbar top_layer_filter" style="position: relative; top: 54%;">
                <div class="" id="">
                    <ul class="">
                        <li class="dropdown">
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">전세/매매</span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="main_dropdown_rent" href="#">매매</a></li>
                                <li><a id="main_dropdown_rent" href="#">전 월세</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                        <button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">주택</span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">다세대 연립</a></li>
                            <li><a href="#">단독/다가구</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="visible-md visible-lg col-md-3 top_layer_info">
            <div class="info_nav" style="background-color: cornflowerblue; color:white; text-align:center;">
                <div class="visible-xs visible-sm btn_left_news_back"><a class="glyphicon glyphicon-chevron-left" style="color:azure"></a></div>
                <span><h3>부동산 뉴스</h3></span>
                <a href="#" class="visible-md visible-lg btn_toggle_content" style="color:white;">접기<span class="caret"></span></a>
            </div>
            <div class="info_news">
                <table>
                    {% for new in news %}
                    <tr>
                        <td>
                            <a href="{{ new.url }}">
                                <p><h4 style="color:black;">{{ new.title }}</h4></p>
                            </a>
                            <p>{{ new.summary }}</p>
                            <p>-{{ new.newspaper }}- &nbsp;&nbsp; {{ new.wr_date }}</p>
                            <hr/>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- 클릭 후 상세 정보 -->
    <div class="col-md-3 wrap_info_house_deal">
        <div class="top_layer_nav">
            <div class="input-group-lg top_layer_search">
                <input type="text" class="top_layer_keyword" onkeypress="if( event.keyCode==13 ){goSearch();}" placeholder="검색어를 입력하세요(ex.서초동)"/>
                <span class="btn btn-lg btn-default btn_search glyphicon glyphicon-search"></span>
            </div>
            <div class="sub-filter">
                <div class="sub-filter-layer">
                    <div class="menu-container">
                    </div>
                </div>
            </div>
        </div>
        <div class="header_info">
            <div class="house_title">
                <span class="btn btn-lg btn-default btn_back glyphicon glyphicon-chevron-left" style=""></span>
                <span><a href="#"><h4 id="detail_name">주택명</h4></a></span>
            </div>
            <div class="text-center address_info">
                <p id="detail_addr"></p>
                <p id="detail_addr_detail"></p>
            </div>
        </div>
        <nav class="navbar type_select">
            <div class="" id="">
                <ul class="">
                    <li class="dropdown">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">전세/매매</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="detail_dropdown_deal" href="#">매매</a></li>
                            <li><a id="detail_dropdown_rent" href="#">전 월세</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="text-center realprice_avg" style="position: relative">
            <div>최근 3개월 실거래 평균</div>
            <div id="detail_price_avg">없음</div>
            <div><blockquote class="pull-right"><a href="#"><h6>국토교통부 거래가격</h6></a></blockquote></div>
        </div>
        <hr/>
        <div class="realPrice_table">
            <table class="table table-hover">
                <tr>
                    <th>계약일</th>
                    <th>가격</th>
                    <th>전용면적</th>
                    <th>층</th>
                </tr>
                <tr>
                    <td>2017.4</td>
                    <td>12,000</td>
                    <td>107.2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2017.4</td>
                    <td>12,000</td>
                    <td>107.2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2017.4</td>
                    <td>12,000</td>
                    <td>107.2</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- side button -->
    <div class="left_button">
        <div class="visible-xs visible-sm col-md-1">
            <button class="btn btn-default btn_left_news glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="left" title="부동산 뉴스를 확인합니다."></button>
        </div>
        <div class="visible-xs visible-sm col-md-1">
            <a><button class="btn btn-default btn_left_near glyphicon glyphicon-road" data-toggle="tooltip" data-placement="right" title="현재 지도에서 가까운 시설을 찾습니다."></button></a>
            <ul class="pull-right">
                <li><button class="btn btn-default btn_left_near_bus" style="position: absolute; opacity: 0; left: 50px; top: 11px;" data-toggle="tooltip" data-placement="right" title="주변의 버스정류장 위치를 확인합니다."><img src="{% static 'img/button/btn_bus.png' %}"></button></li>
                <li><button class="btn btn-default btn_left_near_hos" style="position: absolute; opacity: 0; left: 90px; top: 11px;" data-toggle="tooltip" data-placement="right" title="주변의 병원 위치를 확인합니다."><img src="{% static 'img/button/btn_hospital.png' %}"></button></li>
                <li><button class="btn btn-default btn_left_near_veg" style="position: absolute; opacity: 0; left: 130px; top: 11px;" data-toggle="tooltip" data-placement="right" title="주변의 동물병원 위치를 확인합니다."><img src="{% static 'img/button/btn_veg1.png' %}"></button></li>
            </ul>
        </div>
        <div class="visible-xs visible-sm col-md-1">
            <button class="btn btn-default btn_left_crime glyphicon glyphicon-user" data-toggle="tooltip" data-placement="left" title="현재 지역의 범죄현황을 보여줍니다."></button>
        </div>
    </div>
    <div class="right_button">
        <div class="col-md-1">
            <button class="btn btn-default btn_right_loc glyphicon glyphicon-screenshot" data-toggle="tooltip" data-placement="left" title="현재 위치로 이동합니다."></button>
        </div>
        <div class="col-md-1">
            <a><button class="btn btn-default btn_glob glyphicon glyphicon-globe" data-toggle="tooltip" data-placement="left" title="지도를 여러가지 형태로 보여줍니다."></button></a>
            <ul class="pull-left">
                <li><button class="btn btn-default btn_glob_1 glyphicon glyphicon-leaf" style="position: absolute; opacity: 0; right: 50px; top: 11px;" data-toggle="tooltip" data-placement="left" title="위성지도를 보여줍니다."></button></li>
                <li><button class="btn btn-default btn_glob_2 glyphicon glyphicon-fire" style="position: absolute; opacity: 0; right: 90px; top: 11px;" data-toggle="tooltip" data-placement="left" title="지형도를 보여줍니다."></button></li>
                <li><button class="btn btn-default btn_glob_3 glyphicon glyphicon-globe" style="position: absolute; opacity: 0; right: 130px; top: 11px;" data-toggle="tooltip" data-placement="left" title="기본 지도를 보여줍니다."></button></li>
            </ul>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default btn_right_hide glyphicon glyphicon-refresh" data-toggle="tooltip" data-placement="left" title="지도의 마커를 초기화합니다."></button>
        </div>
    </div>
    <div class="bottom_current_loc_info">
        <div class="btn btn-info ">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="btn_loc_info"></span>
        </div>
    </div>
    
</div>
<script>
    //map initiate
    var map = null;

    //info window
    var infowindow = new naver.maps.InfoWindow();
    
    //marker cluster용 배열
    var markers = []
    
    var dataList = []

    var mapOptions = {
        center: new naver.maps.LatLng(37.498189, 127.027642),
        zoom: 10,
        minZoom: 1, //지도의 최소 줌 레벨
        zoomControl: true, //줌 컨트롤의 표시 여부
        zoomControlOptions: {
            style: naver.maps.ZoomControlStyle.SMALL,
            position: naver.maps.Position.RIGHT_BOTTOM
        }
    };
    map = new naver.maps.Map('map', mapOptions);

    function getMarker(listMap){
        //맵 초기화
        map = new naver.maps.Map('map', mapOptions);

        dataList = listMap.result
        var resAddrdetail = "";
        var index = 0;
        for( var i=0; i < dataList.length; i++ ){
            var addr = dataList[i].location + dataList[i].loc_num;
            bldgName = dataList[i].name;
            bldgPrice = dataList[i].price;
            naver.maps.Service.geocode({
                address: addr,
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                }
                var result = response.result, // 검색 결과의 컨테이너
                items = result.items; // 검색 결과의 배열
                var lng = items[0].point.x;
                var lat = items[0].point.y;
                resAddrdetail = items[0].addrdetail.sido + "-" + items[0].addrdetail.sigugun + "-" + items[0].addrdetail.dongmyun + "-" +  items[0].addrdetail.rest
                var houses = dataList[index]; 

                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(lat, lng),
                    map: map,
                    icon: {
                        content: [
                            '<div class="cs_mapbridge">',
                                '<div class="map_group _map_group">',
                                    '<div class="map_marker _marker">',
                                        '<div class="ico _icon" style=" position: absolute; z-index: 6000; background-image: url(' + '{% static "img/marker_each_green_64*64.png" %}' + '); width: 66px; height: 64px; background-position: -192px -64px;">',
                                            '<div><h6>' + '23' + '평</h6></div>',
                                            '<div><h6>' + houses.price.trim() + '만원</h6></div>',
                                            '<div style="display: none"><h6>' + houses.name.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + houses.fnd_year.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + houses.sold_date.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + houses.location.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + houses.loc_num.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + houses.loc_cd.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + houses.floor.trim() + '</h6></div>',
                                            '<div style="display: none"><h6>' + resAddrdetail.trim() + '</h6></div>',
                                        '</div>',
                                    '</div>',
                                '</div>',
                            '</div>'
                        ].join(''),
                        size: new naver.maps.Size(38, 58),
                        anchor: new naver.maps.Point(19, 58),
                    }
                });
                index += 1;
                
                //marker cluster
                markers.push(marker);
                
                //검색한 위치로 이동
                map.setCenter(marker.position);
                
                naver.maps.Event.addListener(marker, "click", function(e) {
                    var content = []
                    content = e.overlay.icon.content.replace(/(<([^>]+)>)/ig," ").split(/(\s+)/);

                    var name = content[6];
                    var price = content[4];
                    var fnd_year = content[8];
                    var addr1 = content[12] + content[14] + "(" + content[18] + "층)" ;
                    var addr2 = content[20];

                    $(".top_layer").hide();
                    $("#detail_name").text(name);
                    $("#detail_addr").text(addr1);
                    $("#detail_addr_detail").text(addr2);
                    $("#detail_price_avg").text(price);
                    $(".wrap_info_house_deal").show();
                
                });
                        
                var contentString = [
                '<div class="iw_inner">',
                '   <h4>' + houses.name.trim() + '&nbsp;<img src="/static/img/icon/house2.png"></img></h4>',
                '       <p>' + resAddrdetail.trim() + '<br/>',
                '   </p>',
                '</div>'
                ].join('');
                        
                var infowindow = new naver.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 250,
                    backgroundColor: "white",
                    borderColor: "grey",
                    borderWidth: 0,
                    anchorSize: new naver.maps.Size(2, 2),
                    anchorSkew: true,
                });
                
                naver.maps.Event.addListener(marker, "mouseover", function(e) {
                    infowindow.open(map, marker);
                });

                naver.maps.Event.addListener(marker, "mouseout", function(e) {
                    infowindow.close();
                });    
            });
        }
        
        naver.maps.Event.addListener(map, 'bounds_changed', function(bounds) {
            getCenterAddr()
        });
        
    }

    function getAddr(){
        var word = $(".top_layer_keyword").val();
        $.ajax({
            type: 'GET',
            url: '{% url "getAddress" %}', 
            data: {
                "word": word
            },
            dataType: 'json',
            error: function( jqXHR, textStatus, errorThrown ){
                alert('status: ' + textStatus + '\nerror: ' + jqXHR.error )
            },
            success: function(datas){
                getMarker(datas);
            }
        });
    }

    //엔터 클릭 시 검색
    function goSearch(){
        getAddr();
    }


    function onSuccessGeolocation(position) {
        var location = new naver.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);
        map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
        map.setZoom(10); // 지도의 줌 레벨을 변경합니다.

        marker = new naver.maps.Marker({
            position: location,
            map: map
        });

    }
    function onErrorGeolocation() {
        alert("error");
        var center = map.getCenter();
        infowindow.setContent('<div style="padding:20px;">' +
            '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');
        infowindow.open(map, center);
    }

    function getCenterAddr(){
        var center = map.getCenter();
        naver.maps.Service.reverseGeocode({
            location: new naver.maps.LatLng(center.lat(), center.lng()),
        }, function(status, response) {
            if (status !== naver.maps.Service.Status.OK) {
                return alert('Something wrong!');
            }
    
            var result = response.result, // 검색 결과의 컨테이너
                items = result.items; // 검색 결과의 배열
            
            var sido = items[0].addrdetail.sido;
            var sigun = items[0].addrdetail.sigugun;
            var dong = items[0].addrdetail.dongmyun;

            $(".btn_loc_info").text(sido + " " + sigun + " " + dong);
        });
        return center;
    }

    function getBusStop(){

        var bounds = map.getBounds(),
            southWest = bounds.getSW(),
            northEast = bounds.getNE()

        $.ajax({
            type: 'GET',
            url: '{% url "getBusStop" %}', 
            data: {
                "lat_start": southWest.lng(),
                "lat_end": northEast.lng(),
                "lng_start": southWest.lat(),
                "lng_end": northEast.lat()
            },
            dataType: 'json',
            error: function( jqXHR, textStatus, errorThrown ){
                alert('status: ' + textStatus + '\nerror: ' + jqXHR.error )
            },
            success: function(datas){
                
                var dataList = datas.result
                console.log(dataList)

                for( var i=0; i<dataList.length; i++ ){
                    
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(dataList[i].gpslng, dataList[i].gpslat),
                        map: map,
                        icon: {
                            url: '{% static "img/pin/pin_bus_stop.png" %}',
                            size: new naver.maps.Size(50, 52),
                            origin: new naver.maps.Point(0, 0),
                            anchor: new naver.maps.Point(25, 26)
                        }
                    });

                    markers.push(marker)

                    var contentString = [
                        '<div class="iw_inner">',
                            '<div><img src="/static/img/icon/icon_bus_stop.png"></img></div>',
                            '<h5>' + dataList[i].name.trim() + '<h5>',
                        '</div>'
                    ].join('');
                        
                    var infowindow = new naver.maps.InfoWindow({
                        content: contentString,
                        maxWidth: 500,
                        backgroundColor: "white",
                        borderColor: "grey",
                        borderWidth: 0,
                        anchorSize: new naver.maps.Size(2, 2),
                        anchorSkew: true,
                    });
                    
                    naver.maps.Event.addListener(marker, "mouseover", function(e) {
                        infowindow.open(map, marker);
                    });
                    
                    naver.maps.Event.addListener(marker, "mouseout", function(e) {
                        infowindow.close();
                    });    
                }
                
                naver.maps.Event.addListener(map, 'idle', function() {
                    updateMarkers(map, markers);
                });

            }
        });
    }

    function updateMarkers(map, markers) {

        var mapBounds = map.getBounds();
        var marker, position;
    
        for (var i = 0; i < markers.length; i++) {
    
            marker = markers[i]
            position = marker.getPosition();
    
            if (mapBounds.hasLatLng(position)) {
                showMarker(map, marker);
            } else {
                hideMarker(map, marker);
            }
        }
    }

    function showMarker(map, marker) {

        if (marker.setMap()) return;
        marker.setMap(map);
    }
    
    function hideMarker(map, marker) {
    
        if (!marker.setMap()) return;
        marker.setMap(null);
    }

    $(document).ready(function(){
        
        //상단 찾기 버튼
        $(".btn_search").click(function(){
            getAddr();
        });
        
        //접기 버튼
        $(".btn_toggle_content").click(function(){
            
            if( $(".top_layer_info").hasClass('on') ){
                $(".info_nav").css('height','10%');
                $(".top_layer_info").css('height','500px');
                $(".top_layer_info").removeClass('on');
            }else{
                $(".top_layer_info").css('overflow','hidden');
                $(".info_nav").css('height','100%');
                $(".top_layer_info").css('height','45px');
                $(".top_layer_info").addClass('on');
            }

        })
        
        //뒤로가기 버튼
        $(".btn_back").click(function(){
            $(".wrap_info_house_deal").hide();
            $(".top_layer").show();
        });

        //드롭다운 이벤트
        $(".dropdown-toggle").dropdown();
        $(".dropdown-toggle").dropdown("toggle");

        ////왼쪽 버튼
        //뉴스보기
        $(".btn_left_news").click(function(){
            $(".top_layer_info").removeClass('visible-md');
            $(".top_layer_info").removeClass('visible-lg');
            $(".top_layer_info").css('position','relative');
            $(".top_layer_info").css('margin-top','1px');
            $(".top_layer_info").css('height','100%');
            $(".top_layer_info").css('z-index','3000');
            $(".btn_left_news_back").css('position','absolute');
            $(".btn_left_news_back").css('z-index','4000');
            $(".btn_left_news_back").css('top','12%');
            $(".btn_left_news_back").css('left','3%');
        });
        
        //작은 화면 뉴스보기 뒤로가기 버튼
        $(".btn_left_news_back").click(function(){
            location.reload();
        });
        
        //지도 내의 정보 검색
        $(".btn_left_near").click(function(){
            if($(".btn_left_near_bus").css('opacity') == '1'){
                $(".btn_left_near_bus").css('opacity', '0');
                $(".btn_left_near_hos").css('opacity', '0');
                $(".btn_left_near_veg").css('opacity', '0');
            }else{
                $(".btn_left_near_bus").css('opacity', '1');
                $(".btn_left_near_hos").css('opacity', '1');
                $(".btn_left_near_veg").css('opacity', '1');
            }
        });

        //버스 정류장 검색
        $(".btn_left_near_bus").click(function(){
            getBusStop();
        });

        //지도 내의 범죄 표시
        $(".btn_left_crime").click(function(){

        });
        
        ////오른쪽 버튼
        //현재 위치로 이동
        $(".btn_right_loc").click(function(){
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
        });

        //지도 형태 변경 toggle 지도 형태 변경 0
        $(".btn_glob").click(function(e) {
            if($(".btn_glob_1").css('opacity') == '1'){
                $(".btn_glob_1").css('opacity', '0');
                $(".btn_glob_2").css('opacity', '0');
                $(".btn_glob_3").css('opacity', '0');
            }else{
                $(".btn_glob_1").css('opacity', '1');
                $(".btn_glob_2").css('opacity', '1');
                $(".btn_glob_3").css('opacity', '1');
            }

        });
        //지도 형태 변경 1
        $(".btn_glob_1").click(function(e) {
            $(".btn_glob_1").css('opacity', '0');
            $(".btn_glob_2").css('opacity', '0');
            $(".btn_glob_3").css('opacity', '0');
            e.preventDefault();
        
            var mapTypeId = 'HYBRID';
        
            if (map.getMapTypeId() !== naver.maps.MapTypeId[mapTypeId]) {
                map.setMapTypeId(naver.maps.MapTypeId[mapTypeId]); // 지도 유형 변경하기
            }
        });
        //지도 형태 변경 2
        $(".btn_glob_2").click(function(e) {
            $(".btn_glob_1").css('opacity', '0');
            $(".btn_glob_2").css('opacity', '0');
            $(".btn_glob_3").css('opacity', '0');
            e.preventDefault();
        
            var mapTypeId = 'TERRAIN';
        
            if (map.getMapTypeId() !== naver.maps.MapTypeId[mapTypeId]) {
                map.setMapTypeId(naver.maps.MapTypeId[mapTypeId]); // 지도 유형 변경하기
            }
        });
            
        //지도 형태 변경 3
        $(".btn_glob_3").click(function(e) {
            $(".btn_glob_1").css('opacity', '0');
            $(".btn_glob_2").css('opacity', '0');
            $(".btn_glob_3").css('opacity', '0');
            e.preventDefault();
        
            var mapTypeId = 'NORMAL';
        
            if (map.getMapTypeId() !== naver.maps.MapTypeId[mapTypeId]) {
                map.setMapTypeId(naver.maps.MapTypeId[mapTypeId]); // 지도 유형 변경하기
            }
        });

        //지도상 거리 표현
        $(".btn_right_dist").click(function(){
            getPathLine();
        });

        //마커 숨기기
        $(".btn_right_hide").click(function(){
            var center = map.getCenter();

            mapOptions = {
                center: new naver.maps.LatLng(center.lat(), center.lng()),
                zoom: 10,
                minZoom: 1, //지도의 최소 줌 레벨
                zoomControl: true, //줌 컨트롤의 표시 여부
                zoomControlOptions: {
                    style: naver.maps.ZoomControlStyle.SMALL,
                    position: naver.maps.Position.RIGHT_BOTTOM
                }
            }

            map = new naver.maps.Map('map', mapOptions);    

            //현재 위치 체크
            naver.maps.Event.addListener(map, 'bounds_changed', function(bounds) {
                getCenterAddr()
            });
        });

        //현재 위치 체크 initiate
        getCenterAddr()

        //현재 위치 체크
        naver.maps.Event.addListener(map, 'bounds_changed', function(bounds) {
            getCenterAddr()
        });
        
    });

</script>
<script type="text/javascript" src="{% static 'js/marker_clustering.js' %}"></script>
<script type="text/javascript" src="{% static 'js/polyline.js' %}"></script>

{% endblock %}