{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block content %}
<div id="map" class="map" style="height:800px; width: 100%;">
    <div class="container-fluid top_layer" style="padding-right: 0px; padding-left: 0px;">
        <div class="col-md-4 top_layer_nav">
            <div class="input-group-lg top_layer_search">
                <input type="text" class="top_layer_keyword" onkeypress="if( event.keyCode==13 ){goSearch();}" placeholder="검색어를 입력하세요(ex.서초동)"/>
                <span class="btn btn-lg btn-default btn_search glyphicon glyphicon-search"></span>
            </div>
            <div class="sub_filter" style="padding-top: 38px;">
                <ul class="nav nav-tabs">
                    <li class="col-md-6 dropdown">
                        <a data-toggle="dropdown" href="#">매매/전세<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">매매</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">전세</a></li>
                        </ul>
                    <li class="col-md-6 dropdown">
                        <a data-toggle="dropdown" href="#">주택<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">다세대 연립</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">단독 다가구</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="visible-md visible-lg col-md-4 top_layer_info" style="overflow: scroll;">
            <div class="info_nav" style="background-color: cornflowerblue; color:white; text-align:center;">
                <span><h3>뉴스</h3></span>
                <span class="btn_toggle_content" style="color:white;">접기<span class="caret"></span></span>
            </div>
            <div class="info_nav_text">
                <table>
                    {% for new in news %}
                    <tr>
                        <td>
                            <a href="{{ new.url }}">
                                <p>{{ new.title }}</p>
                            </a>
                            <p>-{{ new.newspaper }}-</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- 클릭 후 상세 정보 -->
    <div class="col-md-3 wrap_info_house">
        <div class="top_layer_nav">
            <div class="input-group-lg top_layer_search">
                <input type="text" class="top_layer_keyword" onkeypress="if( event.keyCode==13 ){goSearch();}" placeholder="검색어를 입력하세요(ex.서초동)"/>
                <span class="btn btn-lg btn-default btn_search glyphicon glyphicon-search"></span>
            </div>
            <div class="sub-filter">
                <div class="sub-filter-layer">
                    <div class="menu-container">
                    </div>
                </div>
            </div>
        </div>
        <div class="header_info">
            <div class="house_title">
                <span class="btn btn-lg btn-default btn_back glyphicon glyphicon-chevron-left" style=""></span>
                <span><a href="#"><h4>하동 광교호수마을참누리 LAKE</h4></a></span>
            </div>
            <div class="text-center address_info">
                <p> 경기도 수원시 영통구 하동 994 </p>
                <p> 건축년도 : 2011 </p>
            </div>
        </div>
        <div class="type_select">
            <ul class="nav nav-tabs">
                <li class="col-md-6 dropdown">
                    <a data-toggle="dropdown" href="#">매매/전세<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">매매</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">전세</a></li>
                    </ul>
                <li class="col-md-6 dropdown">
                    <a data-toggle="dropdown" href="#">주택<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">다세대 연립</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">단독 다가구</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="text-center realprice_avg" style="position: relative">
            <div>최근 3개월 실거래 평균</div>
            <div>7억 7,600</div>
            <div><blockquote class="pull-right"><a href="#"><h6>국토교통부 거래가격</h6></a></blockquote></div>
        </div>
        <hr/>
        <div class="realPrice_table">
            <table class="table table-hover">
                <tr>
                    <th>계약일</th>
                    <th>가격</th>
                    <th>전용면적</th>
                    <th>층</th>
                </tr>
                <tr>
                    <td>2017.4</td>
                    <td>12,000</td>
                    <td>107.2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2017.4</td>
                    <td>12,000</td>
                    <td>107.2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2017.4</td>
                    <td>12,000</td>
                    <td>107.2</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="visible-xs visible-sm left_filter">
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-list-alt"></button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-road"></button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-user"></button>
        </div>
    </div>
    <div class="visible-xs visible-sm right_filter">
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-screenshot"></button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-globe"></button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-resize-horizontal"></button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default glyphicon glyphicon-map-marker"></button>
        </div>
    </div>
</div>
<script>
    var marker = null;
    var mapOptions = {
        center: new naver.maps.LatLng(37.498189, 127.027642),
        zoom: 10,
        minZoom: 1, //지도의 최소 줌 레벨
        zoomControl: true, //줌 컨트롤의 표시 여부
        zoomControlOptions: {
            style: naver.maps.ZoomControlStyle.SMALL,
            position: naver.maps.Position.TOP_RIGHT
        }
    };
    var map = new naver.maps.Map('map', mapOptions);
    
    function getMarker(listMap){
        
        var dataList = listMap.result
        for( var i=0; i < dataList.length; i++ ){
            var addr = dataList[i].location + dataList[i].loc_num;
            naver.maps.Service.geocode({
                address: addr
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                }
                var result = response.result, // 검색 결과의 컨테이너
                items = result.items; // 검색 결과의 배열
                
                var lng = items[0].point.x;
                var lat = items[0].point.y;
                marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(lat, lng),
                    map: map
                });

                naver.maps.Event.addListener(marker, "click", function(e) {
                    
                    $(".top_layer").hide();
                    $(".wrap_info_house").show();
                
                });

            });
        }
    }

    function getAddr(){
        var word = $(".top_layer_keyword").val();
        $.ajax({
            type: 'GET',
            url: '{% url "getAddress" %}', 
            data: {
                "word": word
            },
            dataType: 'json',
            error: function( jqXHR, textStatus, errorThrown ){
                alert('status: ' + textStatus + '\nerror: ' + jqXHR.error )
            },
            success: function(datas){
                getMarker(datas);
            }
        });
    }

    //엔터 클릭 시 검색
    function goSearch(){
        getAddr();
    }
    
    $(document).ready(function(){
        
        $(".btn_search").click(function(){
            getAddr();
        });

        $(".btn_toggle_content").click(function(){
            $(".top_layer_info").hide();
        })
        
        $(".filter_news").click(function(){
            $(".top_layer_info").show();
        })

        $(".btn_back").click(function(){
            $(".wrap_info_house").hide();
            $(".top_layer").show();
        });

    });

</script>
{% endblock %}